body {
	text-size-adjust: none;
	background-color: #c9c9c9;
	margin: 0;
}

#page-container {

	width: 100%;

}

#page-header {
	background-color: cornflowerblue;
	width: 100vw;
	height: 56px;
	position: fixed;
	z-index: 100;
}

#header-container {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#page-header a {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	text-decoration: none;
	color: white;
	position: relative;
	height: calc(100% - 3px);
	padding: 0 8px;
	margin: 0 2px 3px 2px;
	transform: background-color 0.1s;
}

#page-header a:hover {
	background-color: aquamarine;
	transform: background-color 0.1s;

}

#page-header i:hover {
	background-color: aquamarine;
	transform: background-color 0.1s;

}

#search {
	FONT-VARIANT: JIS83;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	height: calc(100% - 3px);
	padding: 0 8px;
	padding-top: 1.4px;
	margin: 0 2px 3px 2px;
}

#page-body {
	padding-top: 60px;
	display: block;
}

#content-container {
	max-width: 1200px;
	margin: auto;
}

#page-content {
	width: 100%;
	margin: auto;
}

#page-left-container {
	width: 33%;
	float: left;
}

#page-left-container div {
	width: 100%;
	border: 3px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff;
}

#showmyself {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}

#page-right-container {
	width: 66%;
	float: right;

}

#page-right div {
	margin-bottom: 5px;
	border: 3px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff;

	padding: 0px 5px;
}

#nav {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0px;
}

.toc {
	color: black;
	font-weight: 600;
	display: block;
	padding: .2rem .5rem;
	text-decoration: none;
	margin-right: 8px;
}

.sidebar {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0px;
	margin-bottom: 5px;
	border: 3px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff;
	height: 100%;
	width: 20%;
	padding: 0px 5px;
	position:fixed;
}

.sidebar::-webkit-scrollbar {
	width: 8px
}

.sidebar::-webkit-scrollbar-track {
	background-color: #bcdbcd
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: #3eaf7c
}



.outlineUl {
	overflow: hidden;
	margin-bottom: .75rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 1.7;
	margin-block-start: 0px;
	margin-block-end: 0px;
	display: block;
	padding-inline-start: 20px;
}
.headerAnchor{
	font-size: .85em;
	float: left;
	margin-left: -.87em;
	padding-right: .23em;
	margin-top: .125em;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#outlineUlHead {
	overflow: hidden;
	margin-bottom: .75rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 1.7;
	margin-block-start: 0px;
	margin-block-end: 0px;
	display: block;
	padding-inline-start: 5px;
}

.active {

	font-weight: 600;
	color: #3eaf7c;
	border-left: 2px solid #3eaf7c;
	background-color: rgb(211, 232, 180);
}


.quote {
	text-decoration: none;
	color: #a4a4a4;
}



.pageSelectContainer {
	/* width: 100%; */
	height: 50px;

}

#page-right .pageCardContainer {
	width: 50px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageCard {
	margin-right: 10px;
}

#page-right .selected-page {
	background-color: rgb(255, 237, 165);
}

#page-right .pageCard {
	border: 1px solid #a4a4a4;
	border-radius: 5px;
}

.canClick {
	cursor: pointer;
}

.article-container {
	border: 3px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff;

	padding: 0px 5px;
}

.article-more {
	margin: 10px;
}

.article-title a {
	color: black;
	text-decoration: none;
}

.toolbar {
	float: right;
	margin-inline-end: 4px;
}

.toolbar a {
	cursor: pointer;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	color: black;
	text-decoration: none;
	display: flex;
	float: left;
	width: 32px;
	height: 32px;
	padding: 0;
	border: solid 1px gray;
	margin-block-start: 28px;
}

.toolbar a:first-child {
	border-start-start-radius: 8px;
	border-end-start-radius: 8px;
}

.toolbar a:last-child {
	border-start-end-radius: 8px;
	border-end-end-radius: 8px;
}

.tt {
	width: 100;
	background-color: white;
}

.ulRemoveDot {
	list-style-type: none;
}

.roundCorner {
	border-radius: 10px;
	padding: 10px;
}